body {
    background: #FDFDFD;
}


/* Navigation */

nav {
    background: #B45335;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 0, 1rem, 0, 1rem;
}

ul li {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}


nav ul {
    list-style: none;
    padding: 0;
}

/* Hero section */

.hero {
    background: url("../Images/Hero-Desktop.png");
    height: 750px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: FFF5F2;
}


.hero a {
    /* I don't know why it wouldn't work endless I set size for each side */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B49335;
    border-radius: 8px;
    margin-top: 24px;
}

/* Our favorites section */

.favorites {
    background: #FFF5F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewCard {
    border: 1px solid #000; /*remove*/
    background: #FDFDFD;
    border-radius: 8px;
}











/*tablet
@media screen and (min-width: 820px) {
    
    .favorites {
        grid-template-columns: repeat(2, 1fr);   
    }

} */

/* display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    
     display: flex;
    align-items: center;
    justify-content: center;*/