body {
    background: #FDFDFD;
}


/* Navigation
--------------------------------------------------------- */

nav {
    background: #B45335;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 0, 1rem, 0, 1rem;
}

ul li {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}


nav ul {
    list-style: none;
    padding: 0;
}


/* Hero section
--------------------------------------------------------- */

.hero {
    background: url("../Images/Hero-Desktop.png");
    background-position: center center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF5F2;
    font-size: 2rem;
    margin-bottom: 3rem;
}


a {
    /* I don't know why it wouldn't work endless I set size for each side */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B49335;
    border-radius: 8px;
    margin-top: 24px;
    text-decoration: none;
    color: #FDFDFD;
}

.hero div {
    margin: 1rem;
    text-align: center;
}


/* Our favorites section 
--------------------------------------------------------- */

.favorites {
    background: #FFF5F2;
    padding: 1rem;
    padding-bottom: 3rem;
    justify-content: center;
} 

#sectionhead {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #B45335;
}


.gridhome {
    display: grid;
    gap: 1rem;
}

.previewCard {
    background: #FDFDFD;
    border-radius: 8px;
    max-width: 320px;
    max-height: auto;
    align-items: center;
    justify-content: center;
}

.previewCard p {
    padding-left: .5rem;
    color: #B45335;
}

.previewCard img {
    border-radius: 8px;
}


/* Start section
--------------------------------------------------------- */
.flex {
    display: flex;
    padding: 3rem; 
}

.flex img {
    flex: 3;
}

.flexdiv {
    padding: 3rem;
    background: #FFF5F2;
}


/* Awards section 
--------------------------------------------------------- */
.awards ul {
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 3rem;
}



/* Footer
--------------------------------------------------------- */
footer {
    background: #B45335;
    height: 8rem;
}











/*tablet*/
@media screen and (min-width: 820px) {
    
    .gridhome {
        grid-template-columns: repeat(2, 1fr);   
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

}


/*Desktop*/ 
@media screen and (min-width: 1200px) {

    .gridhome {
        grid-template-columns: repeat(4, 1fr);
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

    h1 {
        font-size: 3rem;
    }

    .favorites {
        padding-left: 3rem;
        padding-right: 3rem;
    } 



}