nav {
    background: #B45335;
    padding: .5rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul li {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}


nav ul {
    list-style: none;
    padding: 0;
}


.hero {
    background: #ccc;
    height: 598px;
    width: auto;
    align-items: center;
}

.hero h1, .hero a {
    text-align: center;
    
}

